#animatedDiceContainer {
  position: relative;
  height: 10rem;
  display: flex;
  justify-content: center;
}

.animated-dice {
  position: absolute;
}

.animated-dice__face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $bg-dice;
  color: $text-dice;
  font-size: 3rem;
}

#animatedDiceContainer.show-d4 {
  .d4-animation-container {
    opacity: 1;
  }
}

#animatedDiceContainer.show-d6 {
  .d6-animation-container {
    opacity: 1;
  }
}

#animatedDiceContainer.show-d8 {
  .d8-animation-container {
    opacity: 1;
  }
}

#animatedDiceContainer.show-d10 {
  .d10-animation-container {
    opacity: 1;
  }
}

#animatedDiceContainer.show-d12 {
  .d12-animation-container {
    opacity: 1;
  }
}

#animatedDiceContainer.show-d20 {
  .d20-animation-container {
    opacity: 1;
  }
}

#animatedDiceContainer.show-d100 {
  .d100-animation-container {
    opacity: 1;
  }
}
