// Colors
$bg-dark: #0f0902;
$bg-base: #170f04;
$bg-light: #2d1d08;

$text-light: #d8d6e8;
$text-base: #dfcdb5;

$bg-dice: $text-base;
$text-dice: $bg-light;

// Animation
$animation-duration: 500ms;
